<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @listing.person %>
</p>

<p>
  <b>List:</b>
  <%= @listing.list %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
