<table>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.text %></td>
    <td><%= link_to_name comment.commendable %></td>
    <td><%= comment.email %></td>
    <td><%= comment.name %></td>
    <td><%= comment.url %></td>
    <td><%= comment.public %></td>
  </tr>
<% end %>
</table>
