<h1>Listing covers</h1>

<table>
  <tr>
    <th>Band</th>
    <th>Song</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @covers.each do |cover| %>
  <tr>
    <td><%= cover.band %></td>
    <td><%= cover.song %></td>
    <td><%= link_to 'Show', cover %></td>
    <td><%= link_to 'Edit', edit_cover_path(cover) %></td>
    <td><%= link_to 'Destroy', cover, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cover', new_cover_path %>
