<div id="headband">
  <%= mail_to 'mikey@mikeymicrophone.com', 'Contact Mikey', :id => 'contact-button' %>
</div>
<div id="top">
  <%= image_tag 'mike-icon.png', :id => 'logo' %>
  <div id="motto_box">
    <p id="motto">I write code that communicates.</p>
    <p id="query">What do you want to say?</p>
  </div>
</div>

<div id="link_bank">
  <ul>
    <li>
      <a id="development">Development</a>
      <div class="detail">
        I've spent most of my career focusing on just two technologies: Ruby and iOS.  I picked my poison and stuck with it.<br>
        I am very excited that RubyMotion now enables us to write iOS apps in Ruby.
      </div>
    </li>
    <li>
      <a id="teaching">Teaching</a>
      <div class="detail">
        I teach classes at 3rd Ward and private programming lessons.<br>
        Lessons are suitable for beginners and intermediates, with topics including Ruby, Rails, JavaScript, iOS, RubyMotion, Facebook API, and OSX.
      </div>
    </li>
    <li>
      <a id="writing">Writing</a>
      <div class="detail">
        I have book projects on topics such as election reform, computer literacy, and musical discovery.<br>
        I also do consulting on the iBooks platform for iPad.
      </div>
    </li>
    <li>
      <a id="music">Music</a>
      <div class="detail">
        I'm not performing at the moment, but I enjoy sharing my tastes and observations about the best music out there, how it's made and what it means.
      </div>
    </li>
  </ul>
</div>
<div id="social_graces">
  <%= link_to image_tag('facebook-icon.png') %>
  <%= link_to image_tag('twitter-icon.png') %>
  <%= link_to image_tag('github-icon.png') %>
  <%= link_to image_tag('soundcloud-icon.png') %>
  <%= link_to image_tag('spotify-icon.png') %>
  <%= link_to image_tag('lastfm-icon.png') %>
</div>