<div id="book_background">
	<%= render :partial => 'shared/header' %>
	<p id="notice"><%= notice %></p>
	<%= content_tag_for :h1, @book, :title do %>
		<%= @book.name %>
	<% end %>

	<% @book.chapters.each do |chapter| %>
	  <% div_for chapter do %>
		  <h2><%= link_to chapter.name, chapter %></h2>
		  <% div_for chapter, :content do %>
		    <%= raw RedCloth.new(chapter.content).to_html %>
		  <% end %>
		<% end %>
	<% end %>
</div>