<div id="book_background">
	<%= render :partial => 'shared/header' %>
	<p id="notice"><%= notice %></p>
	<%= content_tag_for :h2, @chapter.book, :title do %>
	  <%= link_to @chapter.book.name, @chapter.book %>
	<% end %>

	<%= content_tag_for :h3, @chapter, :title do %>
	  <%= @chapter.name %>
	<% end %>
	
  <%= div_for @chapter, :navigation do %>
		<%= link_to "<< #{@chapter.higher_item.name}", @chapter.higher_item, :class => 'previous_chapter' if @chapter.higher_item %>
		<%= link_to "#{@chapter.lower_item.name} >>", @chapter.lower_item, :class => 'next_chapter' if @chapter.lower_item %>
	<% end %>
	
	<%= div_for @chapter, :focus do %>
		<%= markdown @chapter.content %>
	<% end %>
  <%= div_for @chapter, :navigation_bottom, :class => 'clearfix' do %>
		<%= link_to "<< #{@chapter.higher_item.name}", @chapter.higher_item, :class => 'previous_chapter' if @chapter.higher_item %>
		<%= link_to "#{@chapter.lower_item.name} >>", @chapter.lower_item, :class => 'next_chapter' if @chapter.lower_item %>
	<% end %>
	<%= form_for @chapter.comments.new do |f| %>
	  <%= content_tag_for(:h2, @chapter, :comment_on) { "Please share your comments." } %>
	  <%= f.text_area :text, :size => '45x3' %><br>
	  <%= f.text_field :name %><%= f.label :name, 'name' %><br>
	  <%= f.text_field :email %><%= f.label :email, 'email (will not be published)'%><br>
	  <%= f.text_field :url %><%= f.label :url, 'your web site' %><br>
	  <%= f.submit "Submit for moderation" %>
	  <%= f.hidden_field :commendable_type, :value => 'Chapter' %>
	  <%= f.hidden_field :commendable_id, :value => @chapter.id %>
	<% end %>
	
	<%= render :partial => @chapter.comments.public %>
</div>