<!DOCTYPE html>
<html>
<head>
  <title>Mikey Microphone</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'prototype', 'application', 'controls', 'dragdrop', 'effects', 'rails' %>
  <%= csrf_meta_tag %>
  <%= google_analytics.html_safe %>
</head>
<body>

<%= yield %>

</body>
</html>
